* {
  font-family: sans-serif;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 64px;
  border-bottom: 1px solid #f2f2f2;
}

.header__logo {
  display: flex;
  align-items: center;
}

.header__logo img {
  width: 64px;
  margin-right: 16px;
}

.header__logo h1 {
  font-size: 24px;
  white-space: nowrap;
  color: #1a1a1a;
}

.header__search {
  display: flex;
  width: 100%;
}

.header__search input {
  width: 100%;
  max-width: 350px;
  margin: 0 auto;
  padding: 9px 20px;
  font-size: 16px;
  background-color: #f2f2f2;
  border-radius: 8px;
  border: none;
}

.header__search input:focus {
  outline: 1px solid #e67e22;
}

.header__buttons {
  display: flex;
  align-items: center;
}

.header__buttons button {
  background-color: #e67e22;
  color: white;
  border: none;
  padding: 12px 16px;
  cursor: pointer;
  white-space: nowrap;
  border-radius: 8px;
}

.header__buttons button:hover {
  opacity: 0.8;
}

.header__buttons button:nth-child(1) {
  margin-right: 16px;
}

.main {
  padding: 0 64px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #f2f2f2;
  padding: 32px 64px;
}

.footer__section-one {
  display: flex;
  justify-content: space-between;
}

.footer__logo {
  display: flex;
  align-items: center;
}

.footer__logo img {
  width: 64px;
  margin-right: 16px;
}

.footer__logo p {
  font-size: 16px;
  color: #1a1a1a;
}

.footer__links {
  display: flex;
}

.footer__links a {
  display: flex;
  margin-right: 12px;
  text-decoration: none;
  color: #e67e22;
}

.footer__social-network img {
  width: 30px;
}

.divider {
  margin: 16px 0;
  width: 100%;
  border: 1px solid #dfe6e9;
}

.promotion__image {
  width: 600px;
}

.some-products {
  display: flex;
  flex-direction: column;
}

.some-products__title {
  text-align: center;
}

.some-products__products {
  display: grid;
  gap: 20px;
  grid-auto-flow: column;
}

.some-products__products img {
  width: 300px;
  height: 400px;
  object-fit: cover;
}

.some-products__button {
  margin: 0 auto;
  margin-top: 24px;
  background-color: #e67e22;
  color: white;
  border: none;
  padding: 12px 16px;
  cursor: pointer;
  white-space: nowrap;
  border-radius: 8px;
  text-decoration: none;
}

.customer-comments {
  display: flex;
  flex-direction: column;
  margin-bottom: 32px;
}

.customer-comments__title {
  text-align: center;
}

.customer-comments__list {
  display: grid;
  grid-auto-flow: column;
  gap: 20px;
}

.customer-comments__comment {
  display: flex;
  flex-direction: column;
  padding: 16px;
  width: 200px;
  border-radius: 12px;
  border: 1px solid #f2f2f2;
  box-shadow: 0 0 8px 4px #dfe6e9;
}

.customer-comments__comment img {
  width: 100px;
  height: 100px;
  border: 1px solid #b2bec3;
  border-radius: 50%;
  box-shadow: 0 0 8px 4px #dfe6e9;
  object-fit: cover;
}
