* {
  font-family: sans-serif;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 64px;
  border-bottom: 1px solid #f2f2f2;
}

.header__logo {
  display: flex;
  align-items: center;
}

.header__logo img {
  width: 64px;
  margin-right: 16px;
}

.header__logo h1 {
  font-size: 24px;
  white-space: nowrap;
  color: #1a1a1a;
}

.header__search {
  display: flex;
  width: 100%;
}

.header__search input {
  width: 100%;
  max-width: 350px;
  margin: 0 auto;
  padding: 9px 20px;
  font-size: 16px;
  background-color: #f2f2f2;
  border-radius: 8px;
  border: none;
}

.header__search input:focus {
  outline: 1px solid #e67e22;
}

.header__buttons {
  display: flex;
  align-items: center;
}

.header__buttons button {
  background-color: #e67e22;
  color: white;
  border: none;
  padding: 12px 16px;
  cursor: pointer;
  white-space: nowrap;
  border-radius: 8px;
}

.header__buttons button:hover {
  opacity: 0.8;
}

.header__buttons button:nth-child(1) {
  margin-right: 16px;
}

.main {
  padding: 0 64px;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #f2f2f2;
  padding: 32px 64px;
}

.footer__section-one {
  display: flex;
  justify-content: space-between;
}

.footer__logo {
  display: flex;
  align-items: center;
}

.footer__logo img {
  width: 64px;
  margin-right: 16px;
}

.footer__logo p {
  font-size: 16px;
  color: #1a1a1a;
}

.footer__links {
  display: flex;
}

.footer__links a {
  display: flex;
  margin-right: 12px;
  text-decoration: none;
  color: #e67e22;
}

.footer__social-network img {
  width: 30px;
}

.title {
  text-align: center;
  color: #1a1a1a;
}

.product-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.product {
  margin: 16px;
  border-radius: 8px;
  background-color: #f2f2f2;
  box-shadow: 0 0 4px #808080;
  width: 250px;
  overflow: hidden;
}

.product__image {
  width: 100%;
  height: 200px;
  margin-bottom: 8px;
  object-fit: cover;
}

.product__name {
  margin: 8px;
  margin-top: 0;
  font-size: 24px;
}

.product__description {
  margin: 8px;
  margin-top: 0;
  font-size: 16px;
}

.product__price {
  margin: 8px;
  margin-top: 0;
  font-size: 14px;
}

.product__buy-button {
  margin: 8px;
  margin-top: 0;
  padding: 12px 16px;
  background-color: #e67e22;
  color: white;
  border: none;
  cursor: pointer;
  white-space: nowrap;
  border-radius: 8px;
}
